{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <form action="/edited" method="POST">
        <div class="form-group">
          <input name="editHeader" type="text" style="width: 50%;" class="form-control" id="exampleFormControlInput1" placeholder="Header" value="{{feedback[0]['feedback_header']}}">
        </div>
        <div class="form-group">
          <textarea name="editFeedback" style="width: 50%;" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your feedback here..." >{{feedback[0]['feedback']}}</textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Would you recommend it?</label>
          <select name="editRecommend" class="form-control" id="exampleFormControlSelect1">
            <option>Yes</option>
            <option>No</option>
            <option>Not Sure</option>
          </select>
        </div>
        <div>
            <span><button onclick="del()" class="btn btn-outline-info my-2 my-sm-0" type="submit" name="delete" value="{{feedback[0]['imdbId']}}">Delete</button></span>
            <span><button name="editMovieId" class="btn btn-outline-info my-2 my-sm-0" type="submit" value="{{feedback[0]['imdbId']}}" >Submit</button></span>            
        </div>
    </form>

    <script>
        function del() {
            r = confirm("Do you really want to delete this?");
            if (r === false) {
                event.preventDefault();
            }
        }
    </script>
{% endblock %}