{% extends "layout.html" %}

{% block title %}
    Get A Password
{% endblock %}

{% block main %}
    <div style="color: crimson;">{{notFound}}</div> <br>
    <div>
        <small id="passwordHelpInline" class="text-muted">
            Password must be 8-20 characters long.
          </small>
    </div>
 <br>
    <form action="/forgotPassword", method="POST">
        <div>
            <input style="width: 25%;" id="username" name="email" type="email" autocomplete="off" autofocus class="form-control" placeholder="email" required>
        </div> <br>
        <div>
            <input style="width: 25%;" id="newPassword" name="newPassword" type="password" class="form-control" placeholder="New Password" required>
        </div> <br>
        <div>
            <input onkeyup="matchingError()" style="width: 25%;" id="confirmNewPassword" name="confirm NewPassword" type="password" class="form-control" placeholder="Confirm New Password" required>
        </div> <br>
        <button onclick="alertError()" class="btn btn-outline-info my-2 my-sm-0" type="submit">Submit</button>      
    </form>
    <script>
        function matchingError() {
            new_password = document.getElementById("newPassword").value;
            confirm_password = document.getElementById("confirmNewPassword").value;
            if (new_password !== confirm_password) {
                document.querySelector("#newPassword").style.color = "Crimson";
                document.querySelector("#confirmNewPassword").style.color = "Crimson";
                document.getElementById("newPassword").style.borderColor = "Crimson";
                document.getElementById("confirmNewPassword").style.borderColor = "Crimson";                

            }
            else {
                document.querySelector("#newPassword").style.color = "DarkCyan";
                document.querySelector("#confirmNewPassword").style.color = "DarkCyan";
                document.getElementById("newPassword").style.borderColor = "#ced4da";
                document.getElementById("confirmNewPassword").style.borderColor = "#ced4da";
            }
        }
        function alertError() {
            // username = document.getElementById("username").value;
            // new_password = document.getElementById("newPassword").value;
            // confirm_password = document.getElementById("confirmNewPassword").value; 
            // if ((username === "") || (new_password === "") || (confirm_password === "")) {
            //     alert("All fields are required!");
            //     event.preventDefault();
            // }
            if (new_password !== confirm_password) {
                alert("Password doesn't match!");
                event.preventDefault();
            }
            else if (new_password.length < 8) {
                alert("Your password must be at least 8 characters long!");
                event.preventDefault();
            }                       
        }
    </script>
{% endblock %}