{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <h1>Moral Education And Movies</h1>

    <p style="width: 40%; margin: 8% 30%;">There is no doubt that movies have a huge impact on us.</p>

    <p style="width: 40%; margin: 8% 30%;">Especially on our <b>young generations</b>...</p>

    <p style="width: 40%; margin: 8% 30%;">And our goal and wish is that they can be exposed to movies that are <b>morally acceptable</b> and <b>have kind messages</b> for them.</p>
{% endblock %}