<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light border" style="background-color: white;">
            <a class="navbar-brand" href="#"> <span style="font-size: 45px; color: lightseagreen; font-family: Georgia, 'Times New Roman', Times, serif;">Bakkal</span> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if session.user_id %}
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="color: gray;" href="#">Action</a>
                        <a class="dropdown-item" style="color: gray;" href="#">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" style="color: gray;" href="#">Delete My Account</a>
                    </div>                  
                    </li>               
                </ul>
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <button class="btn btn-primary" style="border-color: lightcoral ; color: lightcoral; background-color: white;">Log Out</button> 
                        </a>
                    </li>
                </ul> 
                {% else %}
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                        <button class="btn btn-primary" style="border-color: lightseagreen; color: lightseagreen; background-color: white;">Log In</button> 
                        </a>
                    </li>
                </ul> 
            </div>
            {% endif %}
        </nav>
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-success" style="text-align: center;" role="alert">
                    {{get_flashed_messages() | join(" ")}}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}
            {% endblock %}
        </main>
        <footer class="small text-center text-muted">
            <div>All rights reserved. &copy; 2020 ekrembel</div>
        </footer>
    </body>
</html>